annotated-types
blinker
certifi
charset-normalizer
click
comm
dash
dash-bootstrap-components
dash_ag_grid
dash_daq
distlib
et_xmlfile
filelock
Flask
identify
idna
importlib_metadata
iniconfig
itsdangerous
janus
Jinja2
MarkupSafe
narwhals
nest-asyncio
nodeenv
numpy
openpyxl
packaging
pandas
platformdirs
plotly
pluggy
py
pydantic
pydantic_core
pyparsing
python-dateutil
python-discovery
pytz
PyYAML
requests
retrying
ruamel.yaml.clib
six
toml
typing-inspection
typing_extensions
tzdata
urllib3
virtualenv
Werkzeug
yarg
zipp
gunicorn
